
.header-title{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10rem;
}

main p{
    line-height: 3px;
}

h1.page-title{
    color: #005677;
    background-color: #C4C4C4;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h2{
    margin: 0px;
}

.section-title{
    color: #005677;
    background-color: #C4C4C4;
    padding: 10px 8px;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.datos-personales div ul li{
    line-height: 25px;
}

.formacion-academica .escuelas > div{
    margin-left: 1.5rem;
}

.formacion-academica .escuelas > div p span{
    font-weight: bold;
    margin-right: 1rem;
}

.formacion-academica .escuelas > div p.carrera{
    margin-left: 6rem;
}

.experiencia-laboral .experiencia > div {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.experiencia-laboral .experiencia > div p.anio-titulo span{
    font-weight: bold;
    margin-right: 1rem;
    
}

.experiencia-laboral .experiencia > div p.descripcion{
    margin-left: 6rem; /*80px*/

}

footer{
    background-color: #005677;
    text-align: center;
    padding: 0.1px;
    margin-top: 10rem;
}


footer p{
    color: #fff;
    font-weight: bold;
}

footer p span{
    margin-right: 1rem;
}

footer img{
    margin-right: 10px;
}